body{
    display: flex;
    justify-content: center;
    background-color: #F5F5DC;
    flex-direction: column;
}

.header{
    align-self: center;
    color: #74608A;
}

.clear-button{
    max-width: 80px;
    align-self: center;
}

.enterContainer{
    align-self: center;
    margin-left: 10px;
}
.pixels{
    max-width: 100px;
    align-self: center;
    margin-bottom: 10px;;
}

#pixelButton{

}

.toggle{
   
    align-self: center;
}

#pixelsForm { 
    max-width: 60px;
    align-self: center;
    margin-bottom: 10px;;
}
.grid-container{
    display: grid;
    justify-content: center;
    align-self: center;
    grid-template-columns: 50px 50 px;
    width: 600px;
    height: 600px;
    border: 3px;
    border-color:#74608A;
    border-style: solid;
    background-color: white;
    margin: 10px;
}
.footer{
    display: flex;
    align-self: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 30px;
    color: #74608A;
    font-weight: bold;
}